<!DOCTYPE html>
<html lang = 'en'>
	<head>
		<meta charset = "UTF-8">
			<link rel="stylesheet" href="tableCSS.css">
				<script src="tableJavascript.js"></script>
				<title>Table</title>
			</head>
			<body>
				<div class="container">
					<button onclick="createTable()">Create</button>
					<table class="table" id = "table">
						<thead>
							<tr>
								<th>Going from</th>
								<th>Going to</th>
								<th>Days of Commute</th>
								<th>Contact Email</th>
								<th>Contact Number</th>
								<th>Preferred Compensation</th>
							</tr>
						</thead>
						<tbody id = "tableContent">
							<tr>
								<td>Walnut, California</td>
								<td>Pomona, California</td>
								<td>Monday</td>
								<td>MariePWilson@dayrep.com</td>
								<td>903-812-9809</td>
								<td>Money</td>
							</tr>
							<tr>
								<td>Fullerton, California</td>
								<td>Pomona, California</td>
								<td>Tuesday, Thursday</td>
								<td>AudreyCCollins@jourrapide.com</td>
								<td>414-943-3897</td>
								<td>Food</td>
							</tr>
							<tr>
								<td>San Gabriel, California</td>
								<td>Culver City, California</td>
								<td>Friday, Saturday, Sunday</td>
								<td>JosephineTOgrady@rhyta.com</td>
								<td>540-831-0586</td>
								<td>Nothing</td>
							</tr>
						</tbody>
					</table>
				</div>
			</body>
		</html>