@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/ubuntu-font-family-0.83/Ubuntu-L.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: ubuntu;
    font-style: normal;
}