<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carpool</title>
    <link rel="stylesheet" type="text/css" href="/css/base-styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" >
</head>

<body>
    <div th:insert="~{fragments/header :: navbar}"></div>
    <h1>Home Page</h1>
    <p><a href="/test">Only users can access this test page</a></p>

    <button type="button">Search for Carpool</button>
    <button type="button">Add New Route</button>

</body>
</html>