<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/base-styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>

<body>

    <img src="images/logo.png" width="150" height="150" align="middle"
         style="display: block; margin-left: auto; margin-right: auto; z-index: 1;">

    <h1>Register</h1>

    <div id="loginContainer">
        <div th:if="${registerError}" class="logMessageContainer bad">
            <p th:if="${mismatchedPasswords}" class="logMessage">
                Passwords do not match.
            </p>
            <p th:if="${notValidEmail}" class="logMessage">
                Email is invalid.
            </p>
            <p th:if="${notEduEmail}" class="logMessage">
                Sorry. We only support .edu email addresses for now.
            </p>
        </div>
        <form action="/register" method="POST">
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="lastName" placeholder="Last Name">
            <input type="text" name="email" placeholder=".edu email address">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="matchingPassword" placeholder="Re-enter password">
            <input type="submit" value="Register">
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"
            />
        </form>
    </div>

    <p style="text-align: center"><a href="/login">Already Have An Account? Login HERE</a></p>

</body>
</html>