<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
        .main-form {
            background-color: #f2f2f2;
            border: #dddddd 2px solid;
            border-radius: 9px;
            padding: 20px;
            padding-top: 40px;
            width: 50%;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .expand-80 {
            width: 80%;
        }
    </style>
</head>

<body>

    <div class="container">
        <img src="images/logo.png" class="center" width="150" height="150"
             style="display: block; margin-left: auto; margin-right: auto; z-index: 1;">
        <h1 class="center">Register</h1>
    </div>

    <div class="container main-form">
        <div th:if="${registerError}" class="alert alert-info center expand-80">
            <p th:if="${mismatchedPasswords}">
                Passwords do not match.
            </p>
            <p th:if="${notValidEmail}">
                Email is invalid.
            </p>
            <p th:if="${notEduEmail}">
                Sorry. We only support .edu email addresses for now.
            </p>
            <p th:if="${alreadyRegisteredEmail}">
                The given email address has already been registered.
            </p>
        </div>
        <form action="/register" method="POST">
            <div class="form-group">
                <input type="text" name="firstName" placeholder="First Name" class="center expand-80">
                <input type="text" name="lastName" placeholder="Last Name" class="center expand-80">
            </div>
            <div class="form-group">
                <input type="text" name="signupEmail" placeholder=".edu email address" class="center expand-80">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" class="center expand-80">
                <input type="password" name="matchingPassword" placeholder="Re-enter password" class="center expand-80">
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary center expand-80">
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}">
            </div>
        </form>
    </div>

    <div class="container">
        <p style="text-align: center; padding-top: 12px;">
            <a href="/login">Already Have An Account? Login here!</a>
        </p>
    </div>

</body>
</html>