<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Settings</title>
    <link rel="stylesheet" href="css/bootstra.min.css">
    <link rel="stylesheet" href="style.css">


</head>
<body>
    <h1>User Settings</h1>
        <form>
            <input type="text" placeholder="Email Address"><br><br>
            <input type="text" placeholder="First Name"><br><br>
            <input type="text" placeholder="Last Name"><br><br>
            <input type="text" placeholder="Password"><br><br>
            <input type="text" placeholder="New Password"><br><br>
            <input type="submit" class="btn-primary" value="Update">
        </form>

</body>
</html>